# environment
ENVIRONMENT=

# server port
PORT=

# persistence
PERSISTENCE=

# database credentials
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=

# secrets


# Auth
JWT_EXPIRES=

# cache
CACHE_HOST=
CACHE_PORT=

# email credentials
EMAIL_SENDER=
APP_EMAIL_PASS=
